<!doctype html>
<html class="no-js" lang="en">
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Transportation & Agency Template is a simple Smooth transportation and Agency Based Template" />
<meta name="keywords" content="Portfolio, Agency, Onepage, Html, Business, Blog, Parallax" />

<title>Carries HTML5 Business Template</title>

<link rel="shortcut icon" type="image/ico" href="img/xfavicon.png.pagespeed.ic.BzXhbjIE47.png" />

<link rel="stylesheet" href="css/A.normalize.css%2banimate.css%2bstellarnav.min.css%2bowl.carousel.css%2bbootstrap.min.css%2bfont-awesome.min.css%2cMcc.SwuO_eGGpZ.css.pagespeed.cf._Ac7uid-xp.css" />

<link href="A.style.css%2bcss%2c%2c_responsive.css%2cMcc.65HjB3wZCQ.css.pagespeed.cf.cmd-3f0ODM.css" rel="stylesheet" />
<script src="js/vendor/modernizr-2.8.3.min.js"></script>
<!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
<script nonce="94bc15bb-626c-4394-b466-2610ea6faa5a">(function(w,d){!function(a,e,t,r,z){a.zarazData=a.zarazData||{},a.zarazData.executed=[],a.zarazData.tracks=[],a.zaraz={deferred:[]};var s=e.getElementsByTagName("title")[0];s&&(a.zarazData.t=e.getElementsByTagName("title")[0].text),a.zarazData.w=a.screen.width,a.zarazData.h=a.screen.height,a.zarazData.j=a.innerHeight,a.zarazData.e=a.innerWidth,a.zarazData.l=a.location.href,a.zarazData.r=e.referrer,a.zarazData.k=a.screen.colorDepth,a.zarazData.n=e.characterSet,a.zarazData.o=(new Date).getTimezoneOffset(),a.dataLayer=a.dataLayer||[],a.zaraz.track=(e,t)=>{for(key in a.zarazData.tracks.push(e),t)a.zarazData["z_"+key]=t[key]},a.zaraz._preSet=[],a.zaraz.set=(e,t,r)=>{a.zarazData["z_"+e]=t,a.zaraz._preSet.push([e,t,r])},a.dataLayer.push({"zaraz.start":(new Date).getTime()}),a.addEventListener("DOMContentLoaded",(()=>{var t=e.getElementsByTagName(r)[0],z=e.createElement(r);z.defer=!0,z.src="../../cdn-cgi/zaraz/sd0d9.js?z="+btoa(encodeURIComponent(JSON.stringify(a.zarazData))),t.parentNode.insertBefore(z,t)}))}(w,d,0,"script");})(window,document);</script></head>
<body class="single-page">
<!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

<div class="preeloader">
  <div class="preloader-spinner"></div>
  </div>

  <a href="#home" class="scrolltotop"><i class="fa fa-long-arrow-up"></i></a>

  <header class="top-area single-page" id="home">
  <div class="top-area-bg" data-stellar-background-ratio="0.6"></div>
  <div class="header-top-area">

  <div class="mainmenu-area" id="mainmenu-area">
  <div class="mainmenu-area-bg"></div>
  <nav class="navbar">
  <div class="container">
  <div class="navbar-header">
  <a href="#home" class="navbar-brand"><img src="img/xlogo.png.pagespeed.ic.Kgz_zM0Xho.png" alt="logo"></a>
  </div>
  <div class="search-and-language-bar pull-right">
  <ul>
  <li><a href="#"><i class="fa fa-user"></i></a></li>
  <li class="search-box"><i class="fa fa-search"></i></li>
  <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
  <li class="select-language">
  <select name="#" id="#">
  <option selected value="End">ENG</option>
  <option value="ARA">ARA</option>
  <option value="CHI">CHI</option>
  </select>
  </li>
  </ul>
  <form action="#" class="search-form">
  <input type="search" name="search" id="search">
  <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  </div>
  <div id="main-nav" class="stellarnav">
  <ul id="nav" class="nav navbar-nav">
  <li>
    <a href="/">home</a>
  </li>
  <li>
    <a href="about">about</a>
  </li>
  <li><a href="service">Service</a>
  <ul>
  <li><a href="service.html">Service Version 1</a></li>
  <li><a href="service-2.html">Service Version 2</a></li>
  <li><a href="service-3.html">Service Version 3</a></li>
  <li><a href="single-service.html">Service Details</a></li>
  </ul>
  </li>

  <li>
    <a href="contact">Contact</a>
  </li>
  </ul>
  </div>
  </div>
  </nav>
  </div>

  </div>
  <div class="welcome-area">
  <div class="area-bg"></div>
  <div class="container">
  <div class="row flex-v-center">
  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
  <div class="welcome-text text-center">
  <h2><%= title %></h2>
  <ul class="page-location">
  <li><a href="#">Home</a></li>
  <li>/</li>
  <li><a href="#">Blog</a></li>
  </ul>
  </div>
  </div>
  </div>
  </div>
  </div>
  </header>
